<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>日志查看页面</title>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../../css/nifty.min.css" rel="stylesheet" th:href="@{/css/nifty.min.css}">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../../css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link th:href="@{/css/demo/nifty-demo-icons.min.css}">
    <link href="../../css/demo/myfonts/iconfont.css" rel="stylesheet">
    <link th:href="@{/css/demo/myfonts/iconfont.css}">
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../../plugins/pace/pace.min.css" rel="stylesheet" th:href="@{/plugins/pace/pace.min.css}">
    <script src="../../plugins/pace/pace.min.js" th:src="@{/plugins/pace/pace.min.js}"></script>


    <!--DataTables [ OPTIONAL ]-->
    <link rel="stylesheet" th:href="@{/plugins/datatables/media/css/dataTables.bootstrap.css}">

    <!--Bootstrap Validator 表单验证-->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-validator/bootstrapValidator.min.css}">
    <!--    <% 引入bootstrap select的css %>-->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-select/bootstrap-select.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- 引入bootstrapTable的导出插件 -->
    <script th:src="@{/plugins/bootstrap-table/extensions/export/FileSaver.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/extensions/export/xlsx.core.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/extensions/export/RiZhitableExport.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js}"></script>
    <!-- 引入bootstrapTable的导出插件 -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.css}">

</head>

<body>
<div class="effect aside-float aside-bright mainnav-lg" id="container">

    <!--头部导航-->
    <th:block th:include="/common/header.html"></th:block>
    <!--头部导航结束-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
               <!-- <div id="page-title">
                    <h1 class="page-header text-overflow">用户管理</h1>
                </div>-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="demo-pli-home"></i></a></li>
                    <li>系统管理</a></li>
                    <li class="active">日志查看</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->

            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <!-- Basic Data Tables -->
                <!--===================================================-->
                <div class="panel">
                    <div class="panel-body">
                        <button class="btn btn-danger" id="export">导出excel</button>
                        <div id="toolbar"></div>
                        <!--<div class="pull-right search input-group" style="margin-top: 12px;margin-left: 10px;">
                            <input class="form-control search-input" type="text" placeholder="搜索" id="search">
                        </div>-->
                        <div class="alert alert-mint" style="text-align: center;display: none" id="quanxuantishi">
                            <strong>已选择本页的<span id="pagesize"></span>条数据, <a href="#" class="alert-link"
                                                                             style="font-weight: 400" id="quanbuxuanze">勾选全部的
                                <span id="totalsize"></span> 数据</a></strong>
                        </div>
                        <table cellspacing="0" class="table table-striped table-bordered" id="table"
                               width="100%">
                            <!--<thead>
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>操作人</th>
                                <th>操作描述</th>
                                <th>访问地址</th>
                                <th>访问时间</th>
                                <th>操作情况</th>
                                <th></th>
                            </tr>
                            </thead>-->
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!-- End Striped Table -->


            </div>
            <!--===================================================-->
            <!--End page content-->

        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


        <!--右侧导航-->
        <th:block th:include="/common/aside.html"></th:block>
        <!--右侧导航结束-->


        <!--左侧导航-->
        <th:block th:include="/common/nav.html"></th:block>
        <!--左侧导航结束-->

    </div>


    <!-- FOOTER -->
    <th:block th:include="/common/footer.html"></th:block>
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>


<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--NiftyJS [ RECOMMENDED ]-->
<script th:src="@{/js/nifty.min.js}"></script>
<!--Demo script [ DEMONSTRATION ]-->
<!--<script th:src="@{/js/demo/nifty-demo.min.js}"></script>-->


<!--DataTables [ OPTIONAL ]-->
<script th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

<!--Bootstrap Validator 表单验证-->
<script th:src="@{/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>
<!--<% 引入bootstrap select的插件%>-->
<script th:src="@{/plugins/bootstrap-select/bootstrap-select.js}"></script>


<!-- Live2D 看板动画-->
<script th:src="@{/lib/L2Dwidget.min.js}"></script>
<script type="text/javascript">
    L2Dwidget.init({
        "model": {
            jsonPath:
                "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
            "scale": 0.8
        }, "display": {
            "position": "left", "width": 200, "height": 270,
            "hOffset": 40, "vOffset": 20,

        }, "mobile": {"show": true, "scale": 0.5},
        "react": {opacity: 0.7}, //设置透明度
            dialog: {
            // 开启对话框
            enable: true,
            script: {
                // 每空闲 10 秒钟，显示一条一言
                'every idle 8s': '$hitokoto$',
                // 当触摸到星星图案
                'hover .star': '星星在天上而你在我心里 (*/ω＼*)',
                // 当触摸到角色身体
                'tap body': '哎呀！别碰我！',
                // 当触摸到角色头部
                'tap face': '人家已经不是小孩子了！'
            }
        }
    });

</script>


<!--<% datatable数据的获取 %>-->
<!-- bootstrapTable 数据获取 -->
<script>
    $(function () {
        function DoOnMsoNumberFormat(cell, row, col) {
            var result = "";
            if (row > 0 && col == 0)
                result = "\\@";
            return result;
        }
        $table = $("#table");
        $table.bootstrapTable('destroy').bootstrapTable({
            destroy: true,
            toolbar: "#toolbar",
            toolbarAlign: "left",
            idField: "id",//设置列为选中列
            url: "../log/getLogs",
            locale: 'zh-CN',
            pagination: true,//分页
            pageNumber: 1,//默认显示第1也
            pageSize: 100,//每页显示的数量
            pageList: [ 10, 20, 50,100],//设置每页显示的数量
            search: true,//搜索
            /*sidePagination: 'server',//设置服务器端分页**********************/
            showRefresh: true, //显示刷新按钮
            showColumns: true,//显示列刷选
            showToggle:true,        //是否显示详细视图和列表视图的切换按钮
            silent: true,
            queryParams:searchParam,
            striped: true,
            // showExport: true,  //是否显示导出按钮
            exportTypes:['excel','xlsx'],  //导出文件类型
            buttonsAlign:"left",  //按钮位置
            exportDataType: "all",//selected导出选中数据   basic：只导出当前页的表格数据；all：导出所有数据；
            exportOptions:{
                ignoreColumn:[],  //忽略某一列的索引
                fileName: '日志记录表',  //文件名称设置
                worksheetName: '日志记录表',  //表格工作区名称
                tableName: '日志记录表',
                excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
            },
            columns: [
               /* {
                    field: null,
                    checkbox:true
                },*/
                {
                    title:"id",
                    field: "id",
                },
                {
                    title:"操作人",
                    field: "username",
                },
                {
                    title:"角色",
                    field: "rname",
                },
                {
                    title:"描述",
                    field: "title",
                },
                {
                    title:"访问地址",
                    field: "url",
                },
                {
                    title:"访问时间",
                    field: "end_time",
                },
                {
                    title:"访问情况",
                    field: "exception",
                },
                {
                    title:"角色id",
                    field: "roleid",
                    visible: false,
                },
            ],
        })
    });
</script>
<!-- 后台搜索传值 -->
<script>
    function searchParam(params) {
        var params={
            search:$("#search").val()
        }
        return params;
    }
</script>
<!-- 导出excle表格 -->
<script>
$(function () {
    $table = $("#table");

    //总记录条数
    var totalsize
    //当前页显示的数据
    var pagesize
    $table.on('load-success.bs.table', function () {
        totalsize = $table.bootstrapTable('getOptions').totalRows;
        $("#totalsize").text(totalsize);
        pagesize = $table.bootstrapTable('getOptions').pageSize;
        $("#pagesize").text(pagesize);

    })
    //全选当前页面
    $("#table input[name='btSelectAll']").on("click",function () {
        {
            if (pagesize < totalsize) {
                //展开提示信息
                $("#quanxuantishi").slideDown();
            }
        }
    })
    //全选提示
    $("#quanxuantishi").on("click", "#quanbuxuanze", function () {
        var newstrong = "已选择全部的" + totalsize + "条记录   <a class='alert-link' href='javascript::#' id='quxiaoquanxuan'>取消全选</a>"
        $("#quanxuantishi strong").html(newstrong);
        alert($table.bootstrapTable('getOptions'))
    })
    //取消全选
    $("#quanxuantishi").on("click", "#quxiaoquanxuan", function () {
        var newstrong = '已选择本页的<span id="pagesize"></span>条数据,  <a href="#" class="alert-link" style="font-weight: 400" id="quanbuxuanze">勾选全部的 <span id="totalsize"></span> 数据</a>'
        $("#quanxuantishi strong").html(newstrong);
        //全选后直接放入当前的机构id，删除该机构下所有数据即可
        $("#totalsize").text(totalsize);

        $("#pagesize").text(pagesize);

    });



})
</script>
<!-- 前端插件导出excle -->
<script>
    $(function () {
        $("#export").on('click',function () {
            $table = $("#table");
            $table.tableExport({type:'excel'});
        })
    })

</script>
</body>
</html>

