<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>注册页面</title>
    <style>
        .r {
            color: red;
        }
    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/css/nifty.min.css}">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link rel="stylesheet" th:href="@{/css/demo/nifty-demo-icons.min.css}">
    <!--Demo [ DEMONSTRATION ]-->
    <link rel="stylesheet" th:href="@{/css/demo/nifty-demo.min.css}">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link rel="stylesheet" th:href="@{/plugins/pace/pace.min.css}">
    <script th:src="@{/plugins/pace/pace.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.css}">


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div class="cls-container" id="container" >

    <div class="bg-img" id="bg-overlay" style="background-image: url('../img/bg-img/bg-img-3.jpg');"></div>


    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->


    <!-- REGISTRATION FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">注册页面</h1>
                    <p>请注册管理系统的账号</p>
                </div>
                <form class="form-horizontal" id="formadd" method="post" th:action="@{/register.html}" action="#">
                    <div class="panel-body">
                        <div class="form-group">
                            </span><label class="col-sm-3 control-label"><span class="r">*</span> 用户名：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="username" placeholder="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="r">*</span> 密码：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="password" placeholder="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="r">*</span> 请选择角色：</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="roleid">
                                    <option th:each="role : ${roles}" th:value="${role.rid}" th:text="${role.rname}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="email" placeholder="email" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="r">*</span>手机号：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="phone" placeholder="phone" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">格言：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="signed" placeholder="格言" type="text">
                            </div>
                        </div>



                    </div>
                    <div class="checkbox pad-btm text-left">
                        <input class="magic-checkbox" id="demo-form-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">我同意此协议<a class="btn-link text-bold" href="#">Terms and
                            Conditions</a></label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">注册</button>
                </form>
            </div>
            <div class="pad-all">
                已有账号请<a class="btn-link mar-rgt text-bold" href="/">登录</a>
            </div>
        </div>
    </div>
    <!--===================================================-->


    <!-- DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div class="demo-bg">
        <div id="demo-bg-list">
            <div class="demo-loading"><i class="psi-repeat-2"></i></div>
            <img alt="Background Image" class="demo-chg-bg bg-trans active" src="/img/bg-img/thumbs/bg-trns.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-1.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-2.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-3.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-4.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-5.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-6.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/img/bg-img/thumbs/bg-img-7.jpg">
        </div>
    </div>
    <!--===================================================-->


</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap-validator/bootstrapValidator.min.js}"></script>

<!--NiftyJ [ RECOMMENDED ]-->
<script th:src="@{/js/nifty.min.js}"></script>
<!--=================================================-->
<!--Background Image [ DEMONSTRATION ]-->
<script th:src="@{/js/demo/bg-images.js}"></script>
<!--<% 引入bootstrap select的插件%>-->
<script th:src="@{/plugins/bootstrap-select/bootstrap-select.js}"></script>
<!--<script th:src="@{/lib/L2Dwidget.min.js}"></script>
<script type="text/javascript">
    L2Dwidget.init({
        "model": {
            jsonPath:
                "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
            "scale": 0.8
        }, "display": {
            "position": "left", "width": 200, "height": 270,
            "hOffset": 40, "vOffset": 20,

        }, "mobile": {"show": true, "scale": 0.5},
        "react": {opacity: 0.7},
        dialog: {
            // 开启对话框
            enable: true,
            script: {
                // 每空闲 10 秒钟，显示一条一言
                'every idle 8s': '$hitokoto$',
                // 当触摸到星星图案
                'hover .star': '星星在天上而你在我心里 (*/ω＼*)',
                // 当触摸到角色身体
                'tap body': '哎呀！别碰我！',
                // 当触摸到角色头部
                'tap face': '人家已经不是小孩子了！'
            }
        }
    });

</script >-->
<th:block th:include="common/live2d"></th:block>
<script>
    $(function () {
        $("#formadd").bootstrapValidator({
            message: 'This value is not valid',
            //验证显示的图标
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            //验证规则
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },

                        stringLength: {
                            min: 4,
                            max: 18,
                            message: '用户名长度必须在6到18位之间'
                        },
                        remote: {//ajax验证。server result:{"valid",true or false}
                            url: "../system/userName",
                            message: '用户名已存在',
                            delay: 1000,//ajax刷新的时间是1秒一次
                            type: 'POST',

                            //自定义提交数据，默认值提交当前input value
                            data: ""
                        },
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '密码长度必须在6到18位之间'
                        },
                    }
                },

                phone: {
                    validators: {
                        notEmpty: {
                            message: '手机号不能为空'
                        },
                        regexp: {
                            regexp: /^1[34578]\d{9}$/,
                            message: '手机号格式不正确'
                        },


                    }
                },
                register_address: {
                    validators: {
                        notEmpty: {
                            message: '注册地址不能为空'
                        }
                    }
                },
                register_time: {
                    validators: {
                        notEmpty: {
                            message: '注册时间不能为空'
                        }
                    }
                },

            }

        })

    })
</script>
<script>
    $(function () {
        $("#formadd").reset(
            {

            }
        );
    })
</script>

<script th:inline="javascript">
    var result=[[${result}]]
    if(result!=null)
    {
        alert(result)
    }
</script>

</body>
</html>
