<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>注册页面</title>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link rel="stylesheet" th:href="@{/static/css/nifty.min.css}">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link rel="stylesheet" th:href="@{/static/css/demo/nifty-demo-icons.min.css}">
    <!--Demo [ DEMONSTRATION ]-->
    <link rel="stylesheet" th:href="@{/static/css/demo/nifty-demo.min.css}">
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link rel="stylesheet" th:href="@{/static/plugins/pace/pace.min.css}">
    <script th:src="@{/static/plugins/pace/pace.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.css}">


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div class="cls-container" id="container" >

    <div class="bg-img" id="bg-overlay" style="background-image: url('../static/img/bg-img/bg-img-3.jpg');"></div>


    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->


    <!-- REGISTRATION FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">注册页面</h1>
                    <p>请注册管理系统的账号</p>
                </div>
                <form class="form-horizontal" id="formadd" method="post" th:action="@{/register}" action="#">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="username" placeholder="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="password" placeholder="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">请选择角色：</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="select2">
                                    <option>....请选择....</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="email" placeholder="email" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="phone" placeholder="phone" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">格言：</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="signed" placeholder="格言" type="text">
                            </div>
                        </div>



                    </div>
                    <div class="checkbox pad-btm text-left">
                        <input class="magic-checkbox" id="demo-form-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">我同意此协议<a class="btn-link text-bold" href="#">Terms and
                            Conditions</a></label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">注册</button>
                </form>
            </div>
            <div class="pad-all">
                已有账号请<a class="btn-link mar-rgt text-bold" href="/">登录</a>
            </div>
        </div>
    </div>
    <!--===================================================-->


    <!-- DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div class="demo-bg">
        <div id="demo-bg-list">
            <div class="demo-loading"><i class="psi-repeat-2"></i></div>
            <img alt="Background Image" class="demo-chg-bg bg-trans active" src="/static/img/bg-img/thumbs/bg-trns.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-1.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-2.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-3.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-4.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-5.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-6.jpg">
            <img alt="Background Image" class="demo-chg-bg" src="/static/img/bg-img/thumbs/bg-img-7.jpg">
        </div>
    </div>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->


<!--BootstrapJS [ RECOMMENDED ]-->
<script th:src="@{/static/js/bootstrap.min.js}"></script>

<!--NiftyJ [ RECOMMENDED ]-->
<script th:src="@{/static/js/nifty.min.js}"></script>
<!--=================================================-->
<!--Background Image [ DEMONSTRATION ]-->
<script th:src="@{/static/js/demo/bg-images.js}"></script>
<!--<% 引入bootstrap select的插件%>-->
<script th:src="@{/static/plugins/bootstrap-select/bootstrap-select.js}"></script>
<script th:inline="javascript">
    $(function () {
        $.ajax({
            url: "/system/findAll",
            success: function (data) {
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        $("#select2").append(
                            '<option value="' + data[i].rid + '">' + data[i].rname + '</option>'
                        )
                    }
                }
            }
        });

    })


</script>
<script th:inline="javascript">
    var result=[[${result}]]
    if(result!=null)
    {
        alert(result)
    }
</script>

</body>
</html>
