<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootthymeleaf.dao.RkglMapper">

<select id="selectAll" resultType="java.util.Map">
SELECT
	date_format( time, '%Y-%m-%d %H:%i:%S' ) time,
	id,
	lastStation,
	nextStation,
	username,
	state,
	`descs`
FROM
	ruku
</select>
    <select id="selecck" resultType="java.util.Map">
SELECT
	date_format( time, '%Y-%m-%d %H:%i:%S' ) time,
	id,
	lastStation,
	nextStation,
	username,
	state,
	`descs`

FROM
	ruku
where state=2
</select>
    <update id="updateRk">
        update ruku set state='2',time=NOW() where id=#{id}
    </update>
    <update id="UpdateById" parameterType="map">
        UPDATE ruku
        SET lastStation = #{lastStation},
        nextStation = #{nextStation},
        username = #{username},
        descs=#{descs}
        WHERE
        id =#{id}
    </update>
<insert id="addRkxx" parameterType="map">
    insert into ruku(lastStation, nextStation, time, username, descs,state)
    values (#{lastStation}, #{nextStation}, #{time}, #{username}, #{descs},'1')
</insert>

<delete id="delRkxx" parameterType="map">
    delete from ruku where id=#{id}
</delete>

    <select id="selectChange" resultType="map">
        SELECT
	date_format( time, '%Y-%m-%d %H:%i:%S' ) time,
	id,
	lastStation,
	nextStation,
	username,
	state,
	`descs`

FROM
	ruku
where state=2 and id=#{id}
    </select>

</mapper>

