<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootthymeleaf.dao.SysPowerMapper">

    <!--<resultMap id="userResult" type="com.example.springbootthymeleaf.pojo.User">
        <result property="register_address" column="registerAddress"/>
        <result property="register_time" column="registerTime"/>
        <result property="last_login_time" column="lastLoginTime"/>
        <result property="login_count" column="loginCount"/>
        <result property="login_time" column="loginTime"/>
    </resultMap>-->

    <select id="getPowerResource" resultType="com.example.springbootthymeleaf.view.PowerVO">
        SELECT
                distinct sr.reid,
                sr.relink,
                sr.resourcename,
                sr.rebianhao,
                sr.reopjigouid,
                sp.reid AS powerreid
         FROM
                resource AS sr
                LEFT JOIN power AS sp ON sp.rid = #{rid}
                AND sp.reid = sr.reid
    </select>

    <insert id="updateRolePower" parameterType="map">
        insert into power(rid,reid) values
        <foreach collection="arr" index="index" item="item" separator=",">
            (#{rid},#{item})
        </foreach>
    </insert>

    <delete id="deleteResourceByRid">
        delete from power where rid=#{rid}
    </delete>


</mapper>

